body
{
    font-family: sans-serif;
}

h1
{
    text-align: center;
    margin-top: 1.5rem;
    font-style: italic;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-weight: 100;
}

p#about
{
    width: 80%;
    line-height: 1.5em;
    margin: 0 auto;
    text-align: center;
}

hr
{
    width: 50%;
    border: none;
    height: 1px;
    margin: 1rem auto;
    background: linear-gradient(to right,
        rgba(200, 200, 200, 0) 0%,
        rgba(200, 200, 200, 1) 25%,
        rgba(200, 200, 200, 1) 75%,
        rgba(200, 200, 200, 0) 100%);
}

.gauge
{
    float: left;
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
}

/* Twice the size of the small ones, for proper wrapping / alignment */
.gauge#global
{
    width: 30rem;
    height: 31rem;
} 
